#callback_3 {
    font-size: 150%;
}

#callback_2 {
    font-size: 150%;
    text-align: center;
}

#callback_1 {
    text-align: center;
    color: crimson;
    font-size: 180%;
}

#callback_0 {
    font-size: 180%;
    text-align: center;
}
